
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: rgb(241, 16, 16);
    background: black;
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    margin-bottom: 100px;
   
}
header{
    font-size: 30px;
    padding: 10px;
    color: gold;
    border-bottom: solid 4px yellow;
}
.seçao-um {
    position: relative;
    padding-bottom: 80px;
    padding-top: 80px;
    justify-content: center;
    background-size: cover;
    background-position: center;

    width: 100%;
    height: 80vh;

    background-image: url("https://img.youtube.com/vi/Dy4MMEuXYKg/maxresdefault.jpg");

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    
}

.section_content {
    display: flex; 
    justify-content: space-between;

    position: absolute;

    top: 0;

    align-items: center;
    
    width: 100%;
    height: 100%;
    font-size: 24px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.seçao-um .principal-video{
    opacity: 1;
}


.onebox{
    margin-right: 5%;
    
}



h1{
    font-size: 40px;
}



p{
    font-size: 25px;
}


.videos{
    display: flex;
    overflow-x: auto;
    gap: 12px;
}

.seçao-dois{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 100px;
    
}



.videos img {
    opacity: 0.5;
    height: 250px;
}



.videos img:hover{
    opacity: 1.0;
    border: 5px solid rgb(246, 255, 0);
}



.seçao-dois h2{
    color: rgb(255, 217, 0);
}


